*{
    font-family: 'Aileron',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
.bg-image {
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-principal{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: auto;
    margin-bottom: auto;
}

.cefit-text{
    color: white;
    width: 150px;
    margin:auto;
}

.login-container{
    box-shadow: 3px 3px 3px 3px rgb(44, 44, 44);
    margin-bottom: auto;
    margin-top: auto;
    width: 30%;
    min-width: 350px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.904);
}

.button-color{
    background-color: #3166D1;
    color: white;
}
.button-color:hover{
    background-color: #10a9d8;
    color: white;
}
.input-cefit{
    border: var(--bs-border-width) solid #636464;
}
.cefit-background-img{
    background-size: cover;
}