.pag-container{
    background-color: rgb(250, 250, 250);
    width: 70%;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
}
.infos{
    align-items: center;
    margin: auto;
    justify-content: center;
    
    
}
.img-personal{
    border-radius: 100%;
    margin: auto;
}
.preco{
    color: #3166d1;
    font-size: 30px;
}
