* {
    font-family: 'Aileron', sans-serif;
}
body {
    background-color: #515151;
}
.container {
    display: flex;
    width: 250px;
    margin: 2rem auto;
    box-shadow: 0 15px 30px rgb(0, 0, 0.3);
    border-radius : 15px;
    background-color: white;
    padding: 35px;
    justify-content: center;
   
}
.container-logo {
    display: flex;
    width: 25px;
    padding: 25px;
    height: 25px;
    margin: 2rem auto;
    border-radius: 15px;
    background-color: #3166d1;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Aileron', sans-serif;
    font-size: 20px;
    flex-direction: column;
    
}
.halter-img {
    width: 40px;
    
}

input {
   
    width: 90%;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px 0;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px;
    
}
.form-btn input{
    width: 100%;
    display: block;
    margin-top: 15px;
    padding: 15px 0;
    background-color: #3166d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.form-btn input:hover {
    background-color: #5d89e2;
    box-shadow: 2px 2px 0px rgb(105, 105, 105);
}
h1 {
    position: relative;
    top: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3166d1
}
p {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    
}
p a {
    color: #3166d1;
    text-decoration: none;
    margin-top: -20px;
    
}
p a:hover{
    color: #5d89e2;
}

.text {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5rem;
    color: #515151
}



