* {
    font-family: 'Aileron', sans-serif;
}

#navbar2 {
    background-color: #272021; /*navbar do personal #00122f*/
    height: 90px;
    margin: 0px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    
}

.editar-perfil{
  text-decoration: none;
  background-color: #272021;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #3166d1;
  transition: 0.3s background-color;
  margin-right: 4px;
}

.signin-button, .signup-button{
    background-color: #272021;
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #3166d1;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 4px;
   
}
.signin-button:hover, .signup-button:hover{
    background-color: #3166d1;
}

.navbar-brand{
    background-color: transparent;
    border-radius: 15px;
    width: 80px;  
    height: 60px;
    margin-left: -15px;
    position: relative;
    margin-top: -5px;
   
}
@media screen and (max-width: 767px) {
    .navbar-brand{
        background-color: transparent;
        border-radius: 15px;
        width: 80px;  
        height: 60px;
        text-align: center; 
       
    }
}

.logo-img{
    width: 90px;
    
}
.custom-toggler .navbar-toggler-icon {
  background-image: url('./hamburger.png');
}

.custom-toggler.navbar-toggler {
  font-size: 30px;
} 
.navbar-toggler{
    border:none;
    font-size: 1.15rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color:#fff;
    font-weight: 500;
    position: relative;
    
}
.nav-link:hover {
    color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
    color: #fff;
}

    .nav-link::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #3166d1;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before{
        width: 100%;
        visibility: visible;  
    }
    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link:focus::before {
        width: 100%;
        visibility: visible;  
    }

#offcanvasNavbar{
    background-color: #272021;
}
#offcanvasNavbarLabel{
    color: #fff;
    font-size: 25px;
}
.home-section{
    background: url(https://img.freepik.com/fotos-gratis/borrao-abstrata-e-equipamento-de-fitness-desfocado-no-interior-do-ginasio-fundo-desfocado-foto_74190-9963.jpg?w=740&t=st=1711160210~exp=1711160810~hmac=7d5474ccc0eaedc9a9111d44823e9732faa9f839e707f89e108522cac759106d) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.home-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.container{
    width: 100%;
    background-color: transparent;
    margin: auto;
}
@media screen and (min-width: 768px) {
    .navbar-nav{
        margin-left: 80px;

    }
}

.hero {
    overflow-x: hidden;
    padding: 0;
    background-color: none;
  }
  
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
  }
  
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
  }
  
  .hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
  }
  
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .hero .info {
      padding: 0 50px;
    }
  }
  
  .hero .info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
  }
 
  
  @media (max-width: 768px) {
    .hero .info h2 {
      font-size: 36px;
    }
  }
  
  .hero .info p {
    color: #cccccc;
    font-size: 18px;
  }
  .line {
    width: 17%;
    margin: 20px auto;
    margin-bottom: 25px;
    margin-top: -25px;
    border-bottom: 5px solid #3166d1;
}
  
  .hero .info .btn-get-started {
    
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid #3166d1 ;
    text-decoration: none;
  }
  
  .hero .info .btn-get-started:hover {
    background: #3166d1;
    
    
  }
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  .hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}
section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f5f6f7;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 70px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
  }
  
  .section-header h2:before,
  .section-header h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
  }
  
  .section-header h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-header h2:after {
    margin: 0 0 10px 15px;
  }
  
  .section-header p {
    margin: 0 auto 0 auto;
  }
  
  @media (min-width: 1199px) {
    .section-header p {
      max-width: 60%;
    }
  }
  
