* {
    font-family: 'Aileron', sans-serif;
}
.w-full{
    background-color: #272021;
}
.mr-3{
    width: 80px;
    margin-top: 10px;
    justify-content: center;
}
.flex{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.flex a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    
}
.flex a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #3166d1;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}
.flex a:hover::after {
    transform: scaleX(1);
}