body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1DEE9;
}

.container {
    max-width: 100%;
    padding: 20px;
    font-family: "Balsamiq Sans", sans-serif;
}

.back-button {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #191923;
}

.back-button span {
    margin-right: 5px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #191923;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 20px;
    background-color: #5762D5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #5762D5;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-item {
    width: 300px;
    margin: 10px;
    background-color: #C1BAD3;
    border: 2px solid #5762D5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    cursor: pointer;
}

.button-info img {
    width: 50px;
    height: 50px;
    border: 3px solid #2d2a32;
    border-radius: 50%;
    align-self: flex-start;
    flex: 0;
    margin-bottom: 10px;
}

.button-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.button-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.button-description {
    margin-bottom: 10px;
    margin-top: 0px;
}

.button-rating {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #5762D5;
    color: #fff;
    border-radius: 5px;
    height: 20px;
    align-self: center;
    flex: 0;
}

.header {
    font-family: "Balsamiq Sans", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #5762D5;
    color: #2d2a32;
    padding: 15px;
}

.header-title {
    cursor: pointer;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-indicator {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-name { 
    margin-right: 10px;
}

.profile-img {
    max-height: 40px;
    border: 3px solid #2d2a32;
    border-radius: 50%;
}

.button-info{
    display: flex;
    flex-direction: column;
}