body {
    font-family: 'Aileron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .navbar {
    position: relative; 
  }
  
  .header {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }


.display-4 {
    color: #3166d1;
}
th{
  background-color: #3166d1!important;
  color: #fff!important;
  text-align: center;
  font-family: 'Aileron', sans-serif;
}
table {
  border: 1px solid #aabee6!important;
  margin: auto;
  box-shadow: 2px 2px 2px #303131;
  
}
td {
  background-color: #e9effa!important;
  text-align: center;
}

.fit-header {
  margin-bottom: -50px;
}