body {
    font-family: 'Aileron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: #515151;
    color: white;
    height: 60px;
    position: relative; 
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title {
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.profile-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    position: absolute; 
    top: 0; 
    right: 0; 
    margin-top: 20px;
    margin-right: 20px; 
}

.profile-link:hover {
    color: #3166d1;
}

.container {
    max-width: 800px; /* Aumentei a largura máxima */
    padding: 20px;
    font-family: 'Aileron', sans-serif;
    position: relative;
    margin: auto;
}

.back-button {
    position: relative;
    left: 20px;
    top: 15px;
}

.seta {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 17px; 
    color: #3166d1;
}

.seta:hover {
    color: #5d89e2;
}

.display-4 {
    color: #3166d1;
}

.monte-button {
    display: block;
    width: 50%;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #3166d1;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.monte-button:hover {
    background-color: #5d89e2;
}

.card-header {
    color: #fff;
    background-color: #515151;
    text-align: center;
}

.card-deck {
    margin-bottom: 15px;
}

.card {
    width: 100%; /* Adicionei largura 100% para os cards */
    max-width: 300px; /* Ajustei a largura máxima */
    height: 100%; /* Adicionei altura 100% para os cards */
    display: inline-block; /* Alterei a exibição para inline-block */
    vertical-align: top; /* Alinhei os cards ao topo */
}

.card-body {
    height: 80%; /* Adicionei altura 80% para o corpo do card */
    display: flex; /* Use flex para alinhar o conteúdo verticalmente */
    flex-direction: column; /* Alinhe o conteúdo na vertical */
    justify-content: space-between; /* Distribua o conteúdo uniformemente na vertical */
    text-align: center; /* Centralize o texto */
}

.btn {
    background-color: transparent;
}
