body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1DEE9;
}
.container {
    max-width: 100%;
    padding: 20px;
    font-family: "Balsamiq Sans", sans-serif;
}
.back-button {
    font-family: "Balsamiq Sans", sans-serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #342E37;
}
.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #342E37;
}
.serie-button {
    display: block;
    width: 60%;
    font-size: 20px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #5762D5;
    color: #342E37;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.monte-button {
    display: block;
    width: 25vw;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #C1BAD3;
    border: 2px solid #5762D5;
    border-radius: 5px;
    color: #5762D5;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.header {
    font-family: "Balsamiq Sans", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #5762D5;
    color: #342E37;
    padding: 15px;
}

.balsamiq-font {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }