.cefit-list {
    max-height: 200px;
    overflow-y: auto;
}

.list-title {
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

.border-custom {
    border-color: #636464 !important;
}

@media (max-width: 375px){
    .list-header {
        flex-direction: column;
    }

    .list-title {
        margin-bottom: 1rem !important;
    }

    .list-button {
        width: 6.7rem;
        
    }
}
.form-label{
    color: #3166d1!important;
}
.list-title{
    color: #3166d1;
}
.list-button{
    background-color: transparent;
    color: #3166d1;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 18px;
    border: 1px solid;
    border-color: #3166d1;
    text-decoration: none;
    transition: 0.3s background-color;
    font-size: 17px;
}
.list-button:hover{
    background-color: #3166d1;
    color: #fff;
}